:root {
    --color-primary: #1E3A8A;
    --color-accent: #FFA500;
    --color-background: #e0edff;
    --color-text: #333333;
    --color-backgroundCard:rgb(243, 248, 255);
    --color-textWhite: #ffffff;
}